<mat-card>
  <mat-card-header>
    <mat-card-title>
      {{ title }}
    </mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
  </mat-card-header>
  <mat-table [dataSource]="queueItemDataSource">
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
      <mat-cell *matCellDef="let item"> {{item.id}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="datetime">
      <mat-header-cell *matHeaderCellDef> Date </mat-header-cell>
      <mat-cell *matCellDef="let item"> {{item.datetime}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="source">
      <mat-header-cell *matHeaderCellDef> Source </mat-header-cell>
      <mat-cell *matCellDef="let item"> {{item.source}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="target">
      <mat-header-cell *matHeaderCellDef> Target </mat-header-cell>
      <mat-cell *matCellDef="let item"> {{item.target}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
      <mat-cell *matCellDef="let item"> {{item.status}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="errormessage">
      <mat-header-cell *matHeaderCellDef> Message </mat-header-cell>
      <mat-cell *matCellDef="let item"> {{item.errormessage}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef> </mat-header-cell>
      <mat-cell *matCellDef="let item">
        <button mat-button class="mat-raised-button mat-primary" (click)="openResendDialog(item.id)"> Resend </button>
        &nbsp;
        <button mat-button class="mat-raised-button mat-primary" (click)="openEditDialog(item.id)"> Edit </button>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</mat-card>