<mat-toolbar>
    <span class="material-icons">settings</span>
    <span> XML Schema Validation</span>
    <span class="fill-remaining-space"></span>
    <button mat-raised-button class="mat-raised-button mat-primary" (click)="validate()">
      <span class="material-icons">settings_applications</span>Validate
    </button>
  </mat-toolbar>
  <mat-card>
    <mat-card-content>
      <div ace-editor
        id="xmleditor"
        [(text)]="xmlData"
        [mode]="'xml'"
        [theme]="'monokai'"
        [readOnly]="false"
        style="overflow:auto;font-size:1.2em;">
        <span id="xmlLabel">
          <span class="inline-icon material-icons">description</span>XML
        </span>
      </div>
    </mat-card-content>
  </mat-card>